body {
    margin: 0;         
    overflow: hidden; 
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
canvas {
    display: block;    
}
#mostro{
    height: 5em;
}